<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
"<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>"+
"<div class='container' style='background:lightblue;height:200px;width:400px'>"+
"<div class='row' ><h3>Weather.IO</h3></div><div class='row'>Your weather.io password is<h6 style='background:darkgrey;color:grey'>"+password+"</h6></div><div class='row'><a class='btn btn-primary' href='http://localhost:3000/login'>Click to login</a></div></div>"


</body>
</html>